

/*    Surface main page styles    */

@font-face { 
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf') format("truetype"),
         url('../fonts/OpenSans-Regular.woff') format("woff"), 
         url('../fonts/OpenSans-Regular.woff2') format("woff2"); 
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

.flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.centered {
    max-width: 1566px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}


/*    Header styles    */

header {
	position: relative;
	width: 100%;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #0f1032;
	z-index: 1;
}

header::before {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: rgba(8, 9, 38, .9);
	z-index: -1;
}




/*    Logo styles    */

.header__logo, .footer__logo {
	display: block;
	max-width: 20.5rem;
    margin: 0 auto;
}
.logo__img {
	fill: #ffffff;
}


/*    Header-heading styles    */

.header__headline {
	display: block;
	vertical-align: top;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .05em;
	color: #ffffff;
}

.header__headline.left {
	text-align: left;
}

.header__headline.right {
	text-align: right;
}



/*    Buttons styles    */

    .buttons {
        justify-content: center;
        align-items: center;
        padding-bottom: 5rem;
    }

    .button {
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
        border-radius: 4rem;
        background: #5e42b0;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
    }

    .button__icon {
    	margin-right: 3rem;
        width: 5rem;
        fill: #ffffff;
    }

    .button__text {
    	display: block;
    	text-align: left;
    	letter-spacing: .05em;
    }

    .button:last-child {
        margin-left: 5rem;
    }


/*   Main styles    */

	/*    Features styles    */

	.features {
		position: relative;
	}

	.features-block {
		width: 100%;
	}

	.features-block.top {
		height: 41.5rem;
		padding: 6rem;	
		background-color: #ffffff;
	}

	.features-block.middle {
		height: 25rem;
		padding: 6rem;	
		background-color: #f6f4fa;
	}

	.features-block.bottom {
		height: 22rem;
		padding: 6rem;
		background-color: #5e42b0;
	}

	.athlests .features__title, .athlests .feature {
		padding-left: 50%;
	}

	.players .features__title, .players .feature {
		padding-right: 0;
	}

	.features__title {
		margin-top: 5rem;
		margin-bottom: 6rem;
		font-size: 8rem;
		font-weight: 700;
		text-transform: uppercase;
		color: #e7e7e7;
	}

	.feature__number {
		font-size: 1.8rem;
		font-weight: 700;
		color:#000000;
		border-bottom: 5px solid #5e42b0;
		letter-spacing: .05em;
	}

	.feature__heading {
		font-size: 3.6rem;
		vertical-align: top;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: .05em;
		color: #c1c1c1;
	}

	.feature__description {
		max-width: 70rem;
		font-size: 2rem;
		letter-spacing: .05em;	
	}

	.features__img {
		position: absolute;
		z-index: 2;
	}

	.athlests .features__img {
		top: 30px;
		left: 50px;
	}

	.players .features__img {
		top: 20px;
		right: 50px;
	}



/*    Footer styles    */


footer {
	position: relative;
	width: 100%;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #0f1032;
	z-index: 1;
}

footer::before {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: rgba(8, 9, 38, .9);
	z-index: -1;
}

    .footer-heading {
        justify-content: center;
    }

    .footer-heading__icon {
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flex;
        display: -o-inline-flex;
        display: inline-flex;

        align-self: center;
        border-radius: 30px;
        background: #5e42b0;
    }

    .footer-heading__img {
        width: 10rem;
        margin: auto;
        fill: #ffffff;
    }

    .footer-heading__title {
        padding-left: 4rem;
    }

    .footer-heading__headline {
        display: block;
        text-transform: uppercase;
        vertical-align: middle;
		line-height: 1;
        font-weight: 700;
        letter-spacing: .05em;
        color: #ffffff;
    }

    .footer-heading__slogan {
        text-transform: uppercase;
        color: #a496ca;

    }




/*===============================*/

 /*     Media styles   */

        /*    x320px    */

    @media ( max-width: 640px ) {

		/*    Header media    */

		header {
			background: #0f1032 url('../img/football_767.jpg');
		}

		/*    Logo media    */

		.header__logo {
			max-width: 13.5rem;
			padding-top: 3rem;
		}

		.footer__logo {
			max-width: 13.5rem;
			padding-bottom: 1rem;
		}

		/*    Heading media    */

		.header__heading {
			margin-top: 13.5rem;			
		}

		.header__headline {
			font-size: 3rem;
		}

		/*    Buttons media    */

		header .buttons {
			margin-top: 9rem;
		}

		footer .buttons {
			margin-top: 8rem;
		}

		.button {
			display: block;
    		flex-basis: 28rem;
    	}

    	/*    Footer media    */

		footer {
			background: #0f1032 url('../img/game_767.jpg');
		}

		/*    Footer heading media    */

		.footer-heading {
			padding-top: 10rem;
		}

		.footer-heading__icon {
			width: 7.5rem;
			height: 7.5rem;
		}

		.footer-heading__headline {
			font-size: 3rem;
		}

		.footer-heading__slogan {
			margin-top: 0;
			font-size: 1.4rem;
			letter-spacing: .05em;
		}
    }



        /*    x768px    */

    @media ( min-width: 641px ) and ( max-width: 960px ) {
		
		/*    Header media    */

		header {
			background: #0f1032 url('../img/football_1280.jpg');
		}

		/*    Logo media    */

		.header__logo {
			max-width: 20.5rem;
			padding-top: 4rem;
		}

		.footer__logo {
			max-width: 20.5rem;
			padding-bottom: 2.5rem;
		}

		/*    Heading media    */

		.header__heading {
			margin-top: 18rem;
		}

		.header__headline {
			font-size: 6.5rem;
		}

		/*    Buttons media    */

		header .buttons {
			margin-top: 31rem;
		}

		footer .buttons {
			margin-top: 29rem;
		}

		.button {
    		flex-basis: 31rem;
    	}

    	/*    Footer media    */

		footer {
			background: #0f1032 url('../img/game_1280.jpg');
		}

		/*    Footer heading media    */

		.footer-heading {
			padding-top: 12.5rem;
		}

		.footer-heading__icon {
			width: 13rem;
			height: 13rem;
		}

		.footer-heading__headline {
			font-size: 8rem;
		}

		.footer-heading__slogan {
			margin-top: 0;
			font-size: 3.5rem;
		}
    }



/*    x1920px    */

	@media ( min-width: 961px ) and ( max-width: 1920px ) {

		/*    Header media    */

		header {
			background: #0f1032 url('../img/football_1920.jpg');
		}

		/*    Logo media    */

		.header__logo {
			max-width: 19rem;
			padding-top: 4.5rem;
		}

		.footer__logo {
			max-width: 19rem;
			margin-top: 24rem;
			padding-bottom: 5rem;
		}

		/*    Heading media    */

		.header__heading {
			margin-top: 22rem;			
		}

		.header__headline {
			font-size: 9rem;
		}

		/*    Buttons media    */

		header .buttons {
			margin-top: 22.5rem;
			padding-bottom: 10rem;
		}

		footer .buttons {
			margin-top: 16rem;
		}

		.button {
    		flex-basis: 31rem;
    	}

    	/*    Footer media    */

		footer {
			background: #0f1032 url('../img/game_1920.jpg');
		}

		/*    Footer heading media    */

		.footer-heading {
			padding-top: 20rem;
		}

		.footer-heading__icon {
			width: 13rem;
			height: 13rem;
		}

		.footer-heading__headline {
			font-size: 8rem;
		}

		.footer-heading__slogan {
			margin-top: 0;
			font-size: 3rem;
		}


	}




