

/*    Surface main page styles    */

@font-face { 
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf') format("truetype"),
         url('../fonts/OpenSans-Regular.woff') format("woff"), 
         url('../fonts/OpenSans-Regular.woff2') format("woff2"); 
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

.flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.centered {
    max-width: 1566px;
    margin: 0 auto;
}


/*    Header styles    */

header {
	position: relative;
	width: 100%;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #0f1032;
	z-index: 1;
}

header::before {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: rgba(8, 9, 38, .9);
	z-index: -1;
}




/*    Logo styles    */

.header__logo, .footer__logo {
	display: block;
	max-width: 20.5rem;
    margin: 0 auto;
}
.logo__img {
	fill: #ffffff;
}


/*    Header-heading styles    */

.header__headline {
	display: block;
	vertical-align: top;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .05em;
	color: #ffffff;
}

.header__headline.left {
	text-align: left;
}

.header__headline.right {
	text-align: right;
}



/*    Buttons styles    */

    .buttons {
        justify-content: center;
        align-items: center;
    }

    .button {
        justify-content: center;
        align-items: center;
        border-radius: 4rem;
        background: #5e42b0;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
    }

    .button__icon {
        fill: #ffffff;
    }

    .button__text {
    	display: block;
    	text-align: left;
    	letter-spacing: .05em;
    }


/*   Main styles    */

	/*    Features styles    */

	.features {
		position: relative;
	}

	.features-block {
		width: 100%;
	}

	.features-block.top {
		background-color: #ffffff;
	}

	.features-block.middle {	
		background-color: #f6f4fa;
	}

	.features-block.bottom {
		background-color: #5e42b0;
	}

	.players .features-block.bottom {
		background-color: #0a0e34;
	}

	.players .features__title, .players .feature {
		padding-right: 0;
	}

	.features__title {
		font-weight: 700;
		letter-spacing: .05em;
		line-height: 1;
		vertical-align: top;
		text-transform: uppercase;
		color: #e7e7e7;
	}

	.feature__number {
		position: relative;
		font-weight: 800;
		color:#000000;
		letter-spacing: .05em;
	}

	.players .features-block.bottom .feature__number {
		color: #9173e6;
	}

	.feature__number::after {
		content: '';
		position: absolute;
		display: block;
		bottom: -.5rem;
		left: 0;
		width: 100%;
		height: .5rem;
		border-radius: .5rem;
		background: #5e42b0;
		z-index: 2;
	}

	.features-block.bottom .feature__number::after {
		content: '';
		background: #efefef;
	}

	.feature__heading {
		vertical-align: top;
		text-transform: uppercase;
		font-weight: 800;
		letter-spacing: .05em;
		color: #c1c1c1;
	}

	.feature__description {
		letter-spacing: .05em;	
		color: #000000;
	}

	.features-block.bottom .feature__description {
		color: #ffffff;
	}

	.features__img {
		position: absolute;
		z-index: 1;
	}

	/*    Calling styles    */

	.calling-list__item {
		position: relative;
	}

	calling__img {
		display: block;
		
	}

	.calling__number {
		position: absolute;
        background: #5e42b0;
        z-index: 1;
	}

	.calling__counter {
		position: relative;
		margin: auto;
		font-weight: 800;
		letter-spacing: .05em;
		color: #f5f6f7;
	}

	.calling__counter::after {
		content: '';
		position: absolute;
		display: block;
		bottom: -.5rem;
		left: 0;
		width: 100%;
		height: .5rem;
		border-radius: .5rem;
		background: #8f7bc8;
		z-index: 2;
	}

	.calling__title {
		display: block;
		text-transform: uppercase;
		font-weight: 800;
		color: #c1c1c1;
	}

	.calling__desription {
		display: block;
		line-height: 2.8rem;
		letter-spacing: .05em;
		color: #000000;
	}

/*    Footer styles    */


footer {
	position: relative;
	width: 100%;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #0f1032;
	z-index: 1;
}

footer::before {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: rgba(8, 9, 38, .9);
	z-index: -1;
}

    .footer-heading {
        justify-content: center;
    }

    .footer-heading__icon {
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flex;
        display: -o-inline-flex;
        display: inline-flex;

        align-self: center;
        border-radius: 30px;
        background: #5e42b0;
    }

    .footer-heading__img {
        width: 10rem;
        margin: auto;
        fill: #ffffff;
    }

    .footer-heading__title {
        padding-left: 4rem;
    }

    .footer-heading__headline {
        display: block;
        text-transform: uppercase;
        vertical-align: middle;
		line-height: 1;
        font-weight: 800;
        letter-spacing: .05em;
        color: #ffffff;
    }

    .footer-heading__slogan {
        text-transform: uppercase;
        color: #a496ca;

    }




/*===============================*/
 /*     Media styles   */

        /*    x320px    */

    @media ( max-width: 640px ) {

    	.centered {
    		width: 100%;
    		padding-left: 2rem;
    		padding-right: 2rem;
    	}

		/*    Header media x320px   */

		header {
			background: url('../img/football_767.jpg');
		}

		/*    Logo media x320px   */

		.header__logo {
			max-width: 13.5rem;
			padding-top: 3rem;
		}

		.footer__logo {
			max-width: 13.5rem;
			padding-bottom: 1rem;
		}

		/*    Heading media x320px   */

		.header__heading {
			display: block;
			margin-top: 15rem;			
		}

		.header__headline {
			font-size: 2.8rem;
		}

		.header__headline.right {
			text-align: left;
			margin-left: 5rem;
		}

		/*    Buttons media x320px   */

		header .buttons, footer .buttons {
			width: 100%;
			-webkit-flex-wrap: wrap;
			-moz-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			-o-flex-wrap: wrap;
			flex-wrap: wrap;
			margin-top: 9rem;
			padding-bottom: 8rem;
		}

		footer .buttons {
			margin-top: 8rem;
		}

		.button {
    		flex-basis: 28rem;
    		height: 3.5rem;
    		border-radius: 4rem;
    		padding: 2rem;
    		padding: 0;
    	}

    	.button:last-child {
    		margin-top: 1.5rem;
    	}

    	.button__icon {
    		width: 3rem;
    		margin-right: 1rem;
    	}

    	.button__text {
    		font-size: .8rem;
    	}

      	/*    Features media x320px   */

	    .features-block.top {
			height: 55rem;
			padding-top: 2.5rem;
			padding-bottom: 5rem;	
		}

		.features-block.middle {
			height: 26rem;
			padding: 5rem 0;
		}

		.players .features-block.middle {
			height: 20rem;
			padding-bottom: 0;
		}

		.features-block.bottom {
			height: 23rem;
			padding: 5rem 0;
		}

		.features__title {
			font-size: 5rem;
			padding-bottom: 31rem;
		}

		.feature {
			width: 100%;
			padding-left: 0;
		}

		.feature__number {
			margin-right: 1rem;
			font-size: 1.4rem;
		}

		.feature__heading {
			font-size: 2.3rem;
		}

		.feature__description {
			margin-top: 3rem;
			font-size: 1.5rem;
			line-height: 1.8rem;
		}

		.athlests .features__img {
			top: 9rem;
			left: 7rem;
		}

		.players .features__img {
			top: 9rem;
			left: 1rem;
		}

   		/*    Calling media x320px   */

   		.calling-list__item {
   			display: block;
   		}

		.calling__pic {
			position: relative;
			display: block;
			width: 100%;
		}

		.calling__img {
			display: block;
			width: 100%;
		}

		.calling__content {			
			display: block;
			width: 100%;
			height: 21rem;
			padding: 0 2rem;
		}

		.calling__number {
			bottom: 19rem;
			left: 2rem;
			width: 7rem;
			height: 7rem;
		}

		.calling__counter {
			font-size: 1.4rem;
		}

		.calling__title {
			display: block;
			margin-bottom: 20px;
			padding-top: 3.5rem;
			font-size: 2.8rem;
		}

		.calling__desription {
			display: block;
			margin-top: 2.5rem;
			font-size: 1.6rem;
			line-height: 2rem;
		}

    	/*    Footer media x320px   */

		footer {
			background: url('../img/game_767.jpg');
		}

		/*    Footer heading media x320px   */

		.footer-heading.centered {
			padding-left: 2rem;
			padding-right: 2rem;
		}

		.footer-heading {
			flex-direction: column;
			justify-content: center;
			width: 100%;
			padding-top: 10rem;
		}

		.footer-heading__icon {
			width: 7.5rem;
			height: 7.5rem;
			margin-left: auto;
			margin-right: auto;
			border-radius: 20px;
		}

		.footer-heading__img {
			width: 5.5rem;
		}

		.footer-heading__title {
        	padding-left: 0;
    	}

		.footer-heading__headline {
			margin-top: 6rem;
			font-size: 3rem;
			text-align: center;
		}

		.footer-heading__slogan {
			margin-top: 1rem;
			font-size: 1.4rem;
			text-align: center;			
		}
    }



        				/*    x768px    */

    @media ( min-width: 641px ) and ( max-width: 960px ) {

    	.centered {
    		width: 100%;
    		padding-left: 5rem;
    		padding-right: 5rem;
    	}
		
		/*    Header media x768px   */

		header {
			background: url('../img/football_1280.jpg');
		}

		/*    Logo media x768px   */

		.header__logo {
			max-width: 20.5rem;
			padding-top: 4rem;
		}

		.footer__logo {
			max-width: 20.5rem;
			padding-bottom: 2rem;
		}

		/*    Heading media x768px   */

		.header__heading {
			margin-top: 18rem;
		}

		.header__headline {
			font-size: 6.4rem;
		}

		.header__headline.right {
			margin-left: 10rem;
			text-align: left;
		}

		/*    Buttons media x768px   */

		header .buttons {
			margin-top: 31rem;
			padding-bottom: 9rem;
		}

		footer .buttons {
			margin-top: 29rem;
			padding-bottom: 5rem;
		}

		.button {
    		flex-basis: 31rem;
    		padding: 10px 15px;
    	}

    	.button:first-child {
    		margin-right: 3rem;
    	}

    	.button__icon {
    		width: 4rem;
    		margin-right: 3rem;
    	}

    	.button__text {
    		font-size: 1.4rem;
    	}


    	/*    Features media x768px   */

		.features-wrapper {
			padding: 0;
		}

	    .features-block.top {
			padding: 3rem;
		}

		.features-block.middle {
			padding: 3rem;
		}

		.features-block.bottom {
			padding: 3rem;
		}

		.features__title {
			margin-top: 5rem;
			margin-bottom: 5rem;
			font-size: 8rem;
		}

		.feature__number {
			margin-right: 1rem;
			font-size: 1.8rem;
		}

		.feature__heading {
			font-size: 3.6rem;
		}

		.feature__description {
			max-width: 40rem;
			margin-top: 2rem;
			font-size: 1.6rem;
		}

		.athlests .features__title, .athlests .feature {
			padding-left: 32%;
		}

		.players .features__title, .players .feature {
			padding-right: 35%;
		}

		.athlests .features__img {
			top: 9rem;
			right: 60%;
		}

		.players .features__img {
			top: 6rem;
			right: 0;
		}

   		/*    Calling media x768px   */

   		.calling-list {
   			display: block;
   		}

   		.calling-list__item {
   			display: block;
   		}

		.calling__pic {
			width: 100%;
		}

		.calling__content {
			position: relative;
			display: block;
			width: 100%;
			padding-top: 8rem;
			padding-left: 3.5rem;
		}

		.find_contact {
			flex-direction: row-reverse;		
		}

		.find_contact .calling__content {
			margin-right: 10rem;
		}

		.calling__number {
			width: 11.5rem;
			height: 11.5rem;
			top: -8rem;
			left: 3.5rem;
		}

		.calling__counter {
			font-size: 2.4rem;
		}

		.calling__title {
			font-size: 8rem;
		}

		.calling__desription {
			max-width: 67rem;
			margin-top: 4rem;
			padding-bottom: 10rem;
			font-size: 2.4rem;
			line-height: 2.8rem;
		}

		footer {
			background: url('../img/game_1280.jpg');
		}

		/*    Footer heading media x768px   */

		.footer-heading.centered {
			padding-left: 3rem;
			padding-right: 3rem;
		}

		.footer-heading {
			flex-direction: column;
			justify-content: center;
			width: 100%;
			padding-top: 13rem;
		}

		.footer-heading__icon {
			width: 13rem;
			height: 13rem;
			margin-left: auto;
			margin-right: auto;
		}

		.footer-heading__title {
        	padding-left: 0;
    	}

		.footer-heading__headline {
			margin-top: 8rem;
			font-size: 8rem;
		}

		.footer-heading__slogan {
			font-size: 3.6rem;
			text-align: center;			
		}
    }



						/*    x1920px    */

	@media ( min-width: 961px ) and ( max-width: 1920px ) {

		/*    Header media x1920px   */

		header {
			background: url('../img/football_1920.jpg');
		}

		/*    Logo media x1920px   */

		.header__logo {
			max-width: 19rem;
			padding-top: 4.5rem;
		}

		.footer__logo {
			max-width: 19rem;
			margin-top: 24rem;
			padding-bottom: 5rem;
		}

		/*    Heading media x1920px   */

		.header__heading {
			margin-top: 22rem;			
		}

		.header__headline {
			font-size: 9rem;
		}

		/*    Buttons media x1920px   */

		header .buttons {
			margin-top: 22.5rem;
			padding-bottom: 10rem;
		}

		footer .buttons {
			margin-top: 16rem;
		}

		.button {
			padding: 10px 15px;
        	border-radius: 4rem;
    		flex-basis: 31rem;
    	}

        .button__icon {
	    	margin-right: 3rem;
	        width: 5rem;
    	}

	    .button__text {
	    	display: block;
	    	text-align: left;
	    }

    .button:last-child {
        margin-left: 5rem;
    }

    	/*    Features media x1920px   */

	    .features-block.top {
			padding: 6rem;	
		}

		.features-block.middle {
			padding: 6rem;	
		}

		.features-block.bottom {
			padding: 6rem;
		}

		.features__title {
			margin-top: 5rem;
			margin-bottom: 6rem;
			font-size: 8rem;
		}

		.feature__number {
			margin-right: 1rem;
			font-size: 1.8rem;
		}

		.feature__heading {
			font-size: 3.6rem;
		}

		.feature__description {
			max-width: 75rem;
			margin-top: 3rem;
			font-size: 2rem;
		}

		.athlests .features__title, .athlests .feature {
			padding-left: 50%;
		}

		.athlests .features__img {
			top: 3rem;
			left: 35rem;
		}

		.players .features__img {
			top: 2rem;
			right: 10rem;
		}

   		/*    Calling media x1920px   */

   		.calling-list__item {
   			height: 73rem;
   		}

		.calling__pic {
			width: 50%;
			height: 100%;
		}

		.calling__content {
			margin-left: 10rem;
		}

		.find_contact {
			flex-direction: row-reverse;		
		}

		.find_contact .calling__content {
			margin-right: 10rem;
		}

		.calling__number {
			width: 17rem;
			height: 17rem;
			top: 21rem;
			left: calc(50% - 8rem);
		}

		.calling__counter {
			font-size: 2.4rem;
		}

		.calling__title {
			margin-top: 24rem;
			margin-left: 6rem;
			font-size: 8rem;
		}

		.calling__desription {
			max-width: 65rem;
			margin-top: 10rem;
			margin-left: 6rem;
			font-size: 2.4rem;
			line-height: 2.8rem;
		}

    	/*    Footer media x1920px   */

		footer {
			background: url('../img/game_1920.jpg');
		}

		/*    Footer heading media x1920px`   */

		.footer-heading {
			padding-top: 20rem;
		}

		.footer-heading__icon {
			width: 13rem;
			height: 13rem;
		}

		.footer-heading__headline {
			font-size: 8rem;
		}

		.footer-heading__slogan {
			margin-top: 0;
			font-size: 3rem;
		}


	}




